
main{
 
    display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   background-color: hsl(47, 88%, 63%);
   min-height: 100vh; 
   
   
   }
   *{
     margin: 0;
     padding: 0;
   }
   section{
     box-shadow:5px 5px ;
     margin: 15px;
   }
   h5{
     padding:10px;
     
     
     
   }
   section.contaner{
     width: 350px;
     height: fit-content;
     margin: auto;
     padding:20px;
     padding-left: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-right: 20px;
     background-color: white;
     border-radius: 20px;
     border: solid;
     border-collapse: groove;
    
   }
   section figure img{
     width: 100%;
     border-radius: 15px;
   }
   p{
     font-size: 16px;
     font-family: [Figtree]
     (https://fonts.google.com/specimen/Figtree);
   }
     button{
      padding:5px;
      background-color: hsl(47, 88%, 63%); 
     }
     footer{
      padding: 10px;
      
       width: 100%;
       display: flex;
   justify-content: left;
   align-items: center; 
     }